# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Production Builds
frontend/build/
frontend/dist/

# Environment Variables & Sensitive Data
.env
backend/.env
frontend/.env

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
